<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/screen.css" />
    <title>slow stitch club</title>
    <meta name="title" content="slow stitch club" />
    <meta name="description" content="" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.slowstitch.club/commissions/"
    />
    <meta property="og:title" content="slow stitch club" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://www.slowstitch.club/commissions/"
    />
    <meta property="twitter:title" content="slow stitch club" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" />
    <script src="https://cdn.usefathom.com/script.js" data-site="XGMTABRJ" defer></script>
  </head>
  <body>
    <header>
      <a href="/frontpage"><img src="/static/img/logomark.png" /></a>
      <h1><a href="/frontpage">slow stitch club</a></h1>

      <nav>
        <ul>
          {% for item in navigation.links %}
          <li>
            <a
              href="{{ item.link }}"
              {%if
              page.url
              contains
              item.link
              %}aria-current="page"
              {%
              endif
              %}
              >{{ item.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
  </body>
</html>
