<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/screen.css" />
    <title>slow stitch club</title>
    <meta name="title" content="slow stitch club" />
    <!-- <meta name="description" content="" /> -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/img/site.webmanifest" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <meta name="msapplication-TileColor" content="#7a4333" />
    <meta name="msapplication-config" content="/static/img/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="{{page.url}}"
    />
    <meta property="og:title" content="slow stitch club" />
    <!-- <meta property="og:description" content="" />
    <meta property="og:image" content="" /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="{{page.url}}"
    />
    <meta property="twitter:title" content="slow stitch club" />
    <!-- <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" /> -->
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="XGMTABRJ"
      defer
    ></script>
  </head>
  <body>
    <header>
      <figure>
        <a href="/" aria-hidden="true">
          <picture>
            <source srcset="/static/img/logomark.webp" type="image/webp" />
            <source srcset="/static/img/logomark.png" type="image/png" />
            <img src="/static/img/logomark.png" alt="" />
          </picture>
        </a>
      </figure>

      <h2><a href="/" rel="home">slow stitch club</a></h2>

      <nav>
        <ul>
          {% for item in navigation.links %}
          <li>
            <a
              href="{{ item.link }}"
              {%if
              page.url
              ==
              item.link
              %}aria-current="page"
              {%
              endif
              %}
              >{{ item.name }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
  </body>
</html>
