<section class="s-image-and-text">
    <div class="s-image-and-text__text">
        {{ section.text | md }}
    </div>
    
    <figure>
        {% image section.image, 'Alt' %}
        <img src="{{ section.image | replace: '/src/','/' }}" alt=""/>
    </figure>
</section>