{% include 'header' %}

<main>
  <div class="homepage__content">
    <h1>
      {{ title }}
    </h1>

    <p>
      {{ intro }}
    </p>
  </div>
  <ul class="link-items">
    {% for item in links %}
    <li>
      <a href="{{ item.link }}">
        <span>{{ item.name }}</span>
        {% if item.photo %} {% image item.photo, '', "(min-width: 58em) 100vw, 50vw" %} {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</main>

{% include 'footer' %}
